@media only screen and (max-width: 600px){

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .wrapper1{
        margin: 11px ;
    }

    .wrapper2{
        padding: 10px;
        margin-left: -13px;
    }

    #button2{
        width: 49%;
    }

    hr{
        margin: 0 10px 10px 2px;
        width: 85%;
    }

    #email{
        width: 15%;
    }
    #password{
        width: 15%;
    }

    #button3{
        max-width: 0%;
        width: 100% ;
        margin-left: -20px;
    }
}





.parent{
    display: flex;
    justify-content: center;
   flex-wrap: wrap;
}

#image1{
    max-width: 100%;
    height: auto;
}

.right{
  margin: 100px 0 0 50px;
  font-family:Arial, Helvetica, sans-serif
}

a{
    text-decoration: none;
}

#signup{
    margin-left: 10px;
    font-weight: bold;
}

#signup:hover{
    text-decoration: underline;
}

.wrapper{
    display: flex;
}

#button1{
    padding: 9px 50px 9px 50px;
    background: white;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
}

#button2{
    margin-left: 20px;
    padding: 7px 30px 7px 30px;
    background: #2D56B3;
    border: 1px solid #2D56B3;
    border-radius: 5px;
    cursor: pointer;
    color: #ffff;
}

#fa-brands1{
    color: red;
    margin-right: 15px;
}

#fa-brands2 {
    color: #ffff;
    font-size: 20px;
    margin-right: 15px;
}

#email{
    padding: 10px 335px 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
}

#password{
    padding: 10px 335px 10px 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 12px;
}

#button3{
    padding: 12px 230px 12px 230px;
    border: 1px solid #2D56B3;
    border-radius: 5px;
    font-size: 12px;
    color: #ffff;
    background: #051780;
    cursor: pointer;
}